each result in results
    tr(data-json=JSON.stringify(result.base_option) class="option_row" onclick=`${(!!result.base_option.plugin) ? "toggleOpenResult(event)" : "" }`)  
        td
            div(class="option_origin_images")
                if result.base_option.img
                    img(src=`${encodeURI(result.base_option.img)}`, alt=`${result.base_option.label} image` class="option_origin_images_main")     
                if result.base_option.icon        
                    img(src=`${encodeURI(result.base_option.icon)}`, alt=`${result.base_option.label} icon` class="option_origin_images_icon")                
        td(style="width:100%"): h3= result.base_option.label   
        td(onclick=`option_action(this,event)`)
    tr(class="option_row_detail"): td(colspan="4" ): iframe(frameborder="0")= "Loading page..." 
    tr(style="display:none")
